extends layout

block content

  .container-fluid.py-5.bg-dark.text-white-50
    h1.display-5.fw-bold  Deploy a Node.JS Application to Heroku
    p.col-md-8.fs-4
        | A tutorial on how to deploy a 
        a(href="https://nodejs.org/en/" target="_blank") node.js 
        | application to 
        a(href="https://dashboard.heroku.com/apps"  target="_blank") Heroku
        | .  Secured by 
        a(href="https://www.okta.com/"  target="_blank") Okta
        | .  Written by 
        a(href="https://profile.fishbowlllc.com/"  target="_blank") Nik Fisher.
  p
    | This repository shows you how to use Okta in a Node.js application and how to deploy the application to Heroku. Please read 
    a(href='https://developer.okta.com/blog/2021/xyz') Deploy a NodeJs application to Heroku
    |  to see how it was created.
  p
    strong Prerequisites:
  ul
    li
      a(href='https://nodejs.org/en/') Node.js
    li
      a(href='https://signup.heroku.com/') Heroku Account
    li
      a(href='') A github repository
    li
      a(href='https://cli.okta.com') Okta CLI
  blockquote
    p
      a(href='https://developer.okta.com/') Okta
      |  has Authentication and User Management APIs that reduce development time with instant-on, scalable user infrastructure. Okta's intuitive API and expert support make it easy for developers to authenticate, manage and secure users and roles in any application.
  ul
    li
      a(href='#getting-started') Getting Started
    li
      a(href='#links') Links
    li
      a(href='#help') Help
    li
      a(href='#license') License
  h2#getting-started Getting Started
  p To run this example locally, run the following commands:
  pre.
  h3#create-an-oidc-application-in-okta Create an OIDC Application in Okta
  p
    | Create a free developer account with the following command using the 
    a(href='https://cli.okta.com') Okta CLI
    | :
  pre.
  p
    | If you already have a developer account, use 
    code okta login
    |  to integrate it with the Okta CLI.
  p
    | Provide the required information. Once you register, create a client application in Okta with the following command:
  pre.
  p You will be prompted to select the following options:
  ul
    li
      | Type of Application: 
      strong 1: Web
    li
      | Framework of Application: 
      strong Other
    li
      | Redirect URI: 
      code https://localhost:3000/authorization-code/callback
    li
      | Post Logout Redirect URI: 
      code https://localhost:3000
  p
    | The application configuration will be printed to 
    code .okta.env
    | .
  pre.
  p Create a new file in your project folder called .env.  Copy the values to there
  pre.
  p
    | Use 
    code npm run start
    |  to run the application.
  h3#publish-to-heroku Publish to Heroku
  p Push the code to your github repository.  
  p
    | Navigate to your 
    a(href='https://dashboard.heroku.com/apps') Heroku dashboard
    | .
  p
    | Click on 
    strong New
    |  and then 
    strong Create new app
  p
    | Give you app a distinct name and then click 
    strong Create app
  p
    | In the app page, under 
    em Deploy
    | , select 
    em Deployment Method
    strong Github
  p Connect your github account to Heroku.
  p
    | Click 
    strong Enable Automatic Deploys
  p
    | Click 
    strong Deploy Branch
    |  under 
    em Manual Deploy
    |  for your first time deploy
  p
    | Under the 
    em Settings
    |  tab, find the 
    em Domains
    |  section.  Make note of your domain here.
  p
    | Under 
    em Config Vars
    |  click 
    strong Reveal Config Vars
    |  and add the values for 
    code APP_BASEURL
    | , which will be the URL you just noted.
  p
    code OKTA_OAUTH2_CLIENT_ID
    |  = {yourClientId}
    code OKTA_OAUTH2_CLIENT_SECRET
    |  = {yourClientSecret}
    code OKTA_OAUTH2_ISSUER
    |  = {yourOktaDomain}/oauth2/default
  h3#finish-okta-setup Finish Okta Setup
  p Navigate back to your Okta dashboard
  p
    | Find the application you created for this project and click 
    strong Edit
    |  under 
    em General Settings
  p
    | Under 
    em Login
    | , find the setting for 
    em Sign-in redirect URIs
    |  and add the value for your app's base domain + 
    code /authorization-code/callback
    | .  For example, mine looks like this:  
    code https://okta-heroku-webapp-nfisher.herokuapp.com/authorization-code/callback
  p
    | Under signout redirect, add a value for your applications domain.  Again, mine looks like this:  
    code https://okta-heroku-webapp-nfisher.herokuapp.com
  p
    | Navigate to your application, you should see the home page.  Try to login and see your profile then log out.
  h2#links Links
  p This example uses the following open source libraries from Okta:
  ul
    li
      a(href='https://developer.okta.com/code/nodejs/') Okta with NodeJs
    li
      a(href='https://www.npmjs.com/package/@okta/oidc-middleware') Okta OIDC Middleware
    li
      a(href='https://github.com/okta/okta-cli') Okta CLI
  h2#help Help
  p
    | Please post any questions as comments on the 
    a(href='https://developer.okta.com/blog/2021/xyz') blog post
    | , or visit our 
    a(href='https://devforum.okta.com/') Okta Developer Forums
    | .
  h2#license License
  p
    | Apache 2.0, see 
    a(href='LICENSE') LICENSE
    | .


